/* styles suggested for buttons according to Figma defaults */
/* TODO: Front-end review */
/* FIXME: Fix buttons and extra lines of code */
.shadow-box-1 {
  position: absolute;
  left: 0%;
  right: 84.62%;
  top: 34.07%;
  bottom: 39.56%;
  background: #FFFFFF;
  box-shadow: 0rem 0.4375rem 4rem rgba(0, 0, 0, 0.07);
}

.shadow-box-2 {
  position: absolute;
  left: 28.21%;
  right: 56.41%;
  top: 34.07%;
  bottom: 39.56%;
  background: #FFFFFF;
  box-shadow: 0rem 0.1875rem 0.625rem rgba(102, 104, 103, 0.31);
  border-radius: 0.625rem;
}

.shadow-box-3 {
  position: absolute;
  left: 56.41%;
  right: 28.21%;
  top: 34.07%;
  bottom: 39.56%;
  background: #FFFFFF;
  box-shadow: 0rem 0.4375rem 1.25rem rgba(0, 0, 0, 0.08);
}

.shadow-box-4 {
  position: absolute;
  left: 84.62%;
  right: 0%;
  top: 34.07%;
  bottom: 39.56%;
  background: #FFFFFF;
  border: 0.0625 solid #ECEBED;
  box-sizing: border-box;
  box-shadow: 0rem 0.4375rem 4rem rgba(0, 0, 0, 0.07);
}

.shadow-box-5 {
  position: absolute;
  left: 0%;
  right: 84.62%;
  top: 73.63%;
  bottom: 0%;
  background: #FFFFFF;
  border: 0.0625 solid #ECEBED;
  box-sizing: border-box;
}

.shadow-box-6 {
  position: absolute;
  left: 28.21%;
  right: 56.41%;
  top: 73.63%;
  bottom: 0%;
  background: #EFEFEF;
  border-radius: 0.5625rem;
}

.shadow-box-7 {
  position: absolute;
  left: 56.41%;
  right: 28.21%;
  top: 73.63%;
  bottom: 0%;
  background: #FFFFFF;
  box-shadow: inset 0rem -0.0625 0rem rgba(208, 201, 214, 0.4);
}

.shadow-box-8 {
  position: absolute;
  left: 84.62%;
  right: 0%;
  top: 73.63%;
  bottom: 0%;
  background: #FFFFFF;
  box-shadow: inset 0rem 0.0625 0rem rgba(208, 201, 214, 0.4);
}
